<div id="titlePreview" class="titlePreview" data-id="{{ id }}">{{ title }}</div>
<div id="moreInfo" class="moreInfo">
    <h4>{{ title }}</h4>
  <span class="content-rating">{{ rating }}</span>
  <div class="content-address">{{ address }}</div>
  <div class="content-body">{{ body }}</div>
  <div class="content-actions">
      <a id="editNote" class="action-edit">edit</a>
      <a id="destroyNote" class="action-delete">delete</a>
  </div>
  <div class="clearfix"></div>
</div>

